body{
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size:x-large;
  background-color: black;
  text-align: center;
  color: #fff;

}

h1{
  color: goldenrod; 
}

button {
  color: #000;
  background: goldenrod;
  width: 150px;
  border: none;
  height: 30px;
  font-weight: bolder;
  border-radius: 7px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}